body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.add-member-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-member-button {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007ad9;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add-member-button:hover {
    background-color: #005bb5;
}

.members-container {
    max-width: 1800px; /* Increased from 1200px to 1400px */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.table-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}

.custom-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table th {
    background-color: #007ad9;
    color: white;
    font-weight: bold;
}

.custom-table tr:hover {
    background-color: rgba(0, 122, 217, 0.1);
}

.custom-table td:first-child {
    font-weight: bold;
}

.custom-table tr {
    transition: background-color 0.3s;
}

.p-inputgroup {
    max-width: 400px;
    margin: 0 auto;
}

.p-button {
    font-size: 1rem;
}

.p-button-rectangular {
    background-color: white;
    border: 1px solid #007ad9;
    color: #007ad9;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0;
}

.p-button-rectangular:hover {
    background-color: #f0f0f0;
    color: white;
}

.p-button-rectangular .pi {
    color: #007ad9;
}

.p-button:hover {
    background-color: #005bb5;
    color: white;
    transition: background-color 0.3s;
}
.margin-bottom {
    margin-bottom: 10px; /* Adjust the value as needed */
}