.container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  position: relative;
}

.centered-dialog {
  width: 1000px !important;
}

.centered-dialog .form-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.close-button {
  font-size: 1.2rem;
  border: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.custom-file-upload {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.input-text, .input-textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-number, .calendar, .input-number-discount {
  width: 100%;
  margin-top: 5px;
}

.upload-discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Add margin to separate sections */
}

.image-name {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.button-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.button-primary:hover {
  background-color: #0056b3;
}

.package-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.package-item {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.package-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.package-header {
  padding: 20px;
  background-color: #343a40;
  color: white;
}

.package-header h3 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.package-item pre {
  padding: 20px;
  background-color: #f7f7f7;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.package-item p {
  padding: 0 20px;
  margin: 5px 0;
  border-top: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}

.package-footer {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
}