body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  position: relative;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.add-package-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-package-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
}

.package-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.package-card img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.package-card p {
  margin: 10px 0;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5; /* Improved readability */
}

.package-card ul {
  padding-left: 20px;
  text-align: left;
  list-style-type: disc;
}

.button-primary, 
.button-secondary, 
.button-danger {
  padding: 10px 15px;
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-primary {
  background-color: #007bff;
}

.button-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button-secondary {
  background-color: #6c757d;
}

.button-secondary:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}

.button-danger {
  background-color: #dc3545;
}

.button-danger:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-group-addon {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-weight: bold;
}

.input-group input {
  border-radius: 0 5px 5px 0;
  border: 1px solid #ddd; /* Match with the addon */
}

.input-group input:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
}

.dialog-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px 5px 0 0;
}

.dialog-body {
  padding: 20px;
}

@media (max-width: 768px) {
  .package-card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .package-card {
    width: 100%;
    margin: 10px 0;
  }
}
